@media screen and (min-width: 769px) {
  .specials-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 20px 36px 20px 36px;
  }

  .specials-heading {
    grid-column: 3/-3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    align-items: center;
    padding: 20px 0px;
  }

  .specials-heading h2 {
    grid-column: 1/5;
    grid-row: 1;
  }
  .online-menu {
    grid-column: 7/9;
    grid-row: 1;
    background-color: #f4ce14;
    height: 50px;
    width: auto;
  }

  .online-menu a {
    text-decoration: none;
    color: black;
  }

  .specials-heading .sub-titles {
    color: black;
  }
}
