@media screen and (min-width: 426px) and (max-width: 768px) {
  .test-container {
    display: flex;
    width: 100%;
    column-gap: 10px;

    grid-column: 1/-1;
    grid-row: 2;
    flex-flow: row nowrap;
    overflow-x: auto;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .test-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
min-width: 300px;
max-width: 300px;
    flex: 0 0 300px;

    border: 2px solid lightgray;
    border-radius: 16px;
  }

  .test-rating {
    flex-basis: 100%;
    padding: 0px 5px;
  }

  .test-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 0px 5px;
    border-radius: 50px;
  }

  .test-name {
    margin-left: 20px;
    padding: 0px 5px;
  }

  .test-container p {
    padding: 0px 5px;
  }
}
