
@media screen and (max-width:425px){

  .navigation-links-mob {
  list-style: none;
  height: 100vh;
  background-color: rgba(34, 36, 34, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: fit-content;
  padding: 2% 2%;
  margin: 0;
}

.menu-close {
  font-size: 2rem;
  position: relative;
}

.navigation-links-mob a {
  text-decoration: none;
  color: white;
}

.navigation-links-mob li {
  margin: 10% 0%;
  color: white;
}
.navigation-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 20px 10px;

}


}